header {
    height:8vh;
}

header > h1 {
    font-size:1.4em;
    align-self:center;
    display:none;
}

header > input {
    display:none;
}

header > ul {
    width:60vw;
}

header > ul {
    display:none;
}

main {
    scrollbar-width:none;
    height:100vh;
}

main > #generated {
    width:95vw;
}

main > #buttons {
    padding-bottom:13vh;
    overflow:hidden;
}

main > #buttons > button {
    width:60vw;
}

main > #buttons > input {
    width:15vw;
}

main > #about, main > #other {
    display:none;
}

main > a {
    display:none;
}

main i {
    display:none;
}

footer {
    font-size: 0.95em;
}

footer > img {
    max-height:10vh;
    align-self:center;
}

footer > p {
    width:100%;
}

footer > p:last-child {
    display:none;
}